<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mac.swinedu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.Login">
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.Login">
        </activity>
        <activity
            android:name=".PickRoleActivity"
            android:label="@string/pickrole"
            android:theme="@style/AppTheme.Login">
        </activity>
        <activity
            android:name=".studentactivities.StudentMainActivity"
            android:label="@string/classes"
            android:theme="@style/AppTheme.Main">
        </activity>
        <activity
            android:name=".teacheractivities.TeacherMainActivity"
            android:label="@string/classes"
            android:theme="@style/AppTheme.Main">
        </activity>
        <activity
            android:name=".teacheractivities.TeacherClassActivity"
            android:label="@string/title_activity_teacher_class"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".studentactivities.StudentClassActivity"
            android:label="@string/title_activity_teacher_class"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Messaging"
            android:label="Messaging"
            android:theme="@style/AppTheme.Main">
        </activity>
    </application>

</manifest>